A:link {
        FONT-SIZE: 13px;
        COLOR: #EBEBEB;
        TEXT-DECORATION: none;
}
A:visited {
        FONT-SIZE: 13px;
        COLOR: #EBEBEB;
        TEXT-DECORATION: none;
}
A:hover {
        FONT-SIZE: 13px;
        COLOR: #0066AA;
}
A:active {
        FONT-SIZE: 13px;
        COLOR: yellow;
}
A {
        FONT-SIZE: 13px;
        FONT-WEIGHT: bold;
        COLOR: #EBEBEB;
}
B {
        FONT-WEIGHT: bold;
        COLOR: #EBEBEB;
}
BODY {
        height: 100%;
        margin: 0; /* Ensure no default margin */
        padding: 0; /* Ensure no default padding */
        FONT-SIZE: 14px;
        COLOR: #EBEBEB;
        SCROLLBAR-ARROW-COLOR: #00FFF6;
        FONT-FAMILY: Arial, Helvetica, Geneva, Swiss, SunSans-Regular;
        SCROLLBAR-BASE-COLOR: #204C64;
        background-image: url(../images/bg.gif);
        background-attachment: fixed;
        BACKGROUND-COLOR: black;
}
CAPTION {
        PADDING-RIGHT: 2px;
        PADDING-LEFT: 2px;
        FONT-WEIGHT: bold;
        FONT-SIZE: 13px;
        PADDING-BOTTOM: 2px;
        COLOR: silver;
        PADDING-TOP: 2px;
        FONT-FAMILY: Arial, Helvetica, Geneva, Swiss, SunSans-Regular;
        BACKGROUND-COLOR: navy;
        TEXT-DECORATION: underline;
}
H1 {
        COLOR: #EBEBEB;
        FONT-FAMILY: Arial, Helvetica, Geneva, Swiss, SunSans-Regular;
}
H2 {
        COLOR: #EBEBEB;
        FONT-FAMILY: Arial, Helvetica, Geneva, Swiss, SunSans-Regular;
}
H3 {
        COLOR: #EBEBEB;
        FONT-FAMILY: Arial, Helvetica, Geneva, Swiss, SunSans-Regular;
}
P {
        FONT-SIZE: 14px;
        COLOR: #EBEBEB;
        FONT-FAMILY: Arial, Helvetica, Geneva, Swiss, SunSans-Regular;
}
PRE {
        COLOR: #EBEBEB;
        FONT-FAMILY: Courier;
}
TD {
        FONT-SIZE: 12px;
        FONT-FAMILY: Arial, Helvetica, Geneva, Swiss, SunSans-Regular;
        BACKGROUND-COLOR: #0A547C;
}
TT {
        COLOR: #00DEFF; FONT-FAMILY: Courier;
}
.event-negativ {
        FONT-SIZE: 12px; COLOR: red;
        FONT-FAMILY: Arial, Helvetica, Geneva, Swiss, SunSans-Regular;
        BACKGROUND-COLOR: #103050;
}
.event-neutral {
        FONT-SIZE: 12px;
        COLOR: yellow;
        FONT-FAMILY: Arial, Helvetica, Geneva, Swiss, SunSans-Regular;
        BACKGROUND-COLOR: #3A83D1;
}
.event-positiv {
        FONT-SIZE: 12px;
        COLOR: #00DEFF;
        FONT-FAMILY: Arial, Helvetica, Geneva, Swiss, SunSans-Regular;
        BACKGROUND-COLOR: #3A83D1;
}
.head {
        FONT-WEIGHT: bold;
        BACKGROUND-COLOR: #103050;
        TEXT-ALIGN: center;
}
.resanzeige {
        FONT-WEIGHT: bold;
        FONT-SIZE: 12px;
        COLOR: #00DEFF;
        FONT-FAMILY: Arial, Helvetica, Geneva, Swiss, SunSans-Regular;
        BACKGROUND-COLOR: black;
}
.warnung {
        FONT-SIZE: 12px;
        COLOR: red;
        FONT-FAMILY: Arial, Helvetica, Geneva, Swiss, SunSans-Regular;
        BACKGROUND-COLOR: #eaeaea;
}
.debugmessage {
        FONT-SIZE: 8px;
        COLOR: olive;
        FONT-FAMILY: Arial, Helvetica, Geneva, Swiss, SunSans-Regular;
}
.infotext {
        FONT-SIZE: 12px;
        COLOR: silver;
        FONT-FAMILY: Arial, Helvetica, Geneva, Swiss, SunSans-Regular;
        BACKGROUND-COLOR: black;
}
.galbutton {
        BORDER-RIGHT: #000000 1px solid;
        BORDER-TOP: #000000 1px solid;
        FONT-SIZE: 10px;
        BORDER-LEFT: #000000 1px solid;
        COLOR: #EBEBEB; 
        BORDER-BOTTOM: #000000 1px solid;
        FONT-FAMILY: Arial;
        BACKGROUND-COLOR: #0A547C;
}
.msgantworten {
        BORDER-RIGHT: white 1px solid;
        BORDER-TOP: white 1px solid;
        FONT-SIZE: 12px;
        BORDER-LEFT: white 1px solid;
        COLOR: #003366;
        BORDER-BOTTOM: white 1px solid;
        FONT-FAMILY: Arial;
        BACKGROUND-COLOR: #EBEBEB;
}
.blackbg {
        BACKGROUND-COLOR: black;
}
.rahmen {
        FONT-WEIGHT: bold;
        FONT-SIZE: 14px;
        COLOR: #EBEBEB;
        FONT-FAMILY: Arial, Helvetica, Geneva, Swiss, SunSans-Regular;
}
.backgr {
        BACKGROUND-COLOR: black;
}
.ress {
        FONT-SIZE: 12px; FONT-FAMILY: Arial, Helvetica, Geneva, Swiss, SunSans-Regular; BACKGROUND-COLOR: transparent;
}
a.navired:visited{
        FONT-FAMILY: Arial, Helvetica, Geneva, Swiss, SunSans-Regular; COLOR: red;
}
a.navired:active{
        FONT-FAMILY: Arial, Helvetica, Geneva, Swiss, SunSans-Regular; COLOR: red;
}
a.navired:hover{
        FONT-FAMILY: Arial, Helvetica, Geneva, Swiss, SunSans-Regular; COLOR: red;
}
a.navired:link {
        FONT-FAMILY: Arial, Helvetica, Geneva, Swiss, SunSans-Regular; COLOR: red;
}
.angriff {
        FONT-SIZE: 12px; FONT-FAMILY: Arial, Helvetica, Geneva, Swiss, SunSans-Regular; font-weight: normal; COLOR: red;
}
.transport {
        FONT-SIZE: 12px; FONT-FAMILY: Arial, Helvetica, Geneva, Swiss, SunSans-Regular; font-weight: normal; COLOR: #e6ff05;
}
.zurueck {
        FONT-SIZE: 12px; FONT-FAMILY: Arial, Helvetica, Geneva, Swiss, SunSans-Regular; font-weight: normal; COLOR: #07e200;
}
.stationieren {
        FONT-SIZE: 12px; FONT-FAMILY: Arial, Helvetica, Geneva, Swiss, SunSans-Regular; font-weight: normal; COLOR: #07e200;
}
.spioniereninc {
        FONT-SIZE: 12px; FONT-FAMILY: Arial, Helvetica, Geneva, Swiss, SunSans-Regular; font-weight: normal; COLOR: #ee1e00;
}
.schifferaus {
        FONT-SIZE: 12px; FONT-FAMILY: Arial, Helvetica, Geneva, Swiss, SunSans-Regular; font-weight: normal; COLOR: #b3b1f3;
}
.schiffeatt {
        FONT-SIZE: 12px; FONT-FAMILY: Arial, Helvetica, Geneva, Swiss, SunSans-Regular; font-weight: normal; COLOR: orange;
}
.verlegen {
        FONT-SIZE: 12px; FONT-FAMILY: Arial, Helvetica, Geneva, Swiss, SunSans-Regular; font-weight: normal; COLOR: #C0C0C0;
}
.headbrowser {
        FONT-SIZE: 10px;
        FONT-WEIGHT: bold;
        BACKGROUND-COLOR: #103050;
        TEXT-ALIGN: center;
}
.tdbrowser {
        FONT-SIZE: 10px;
        FONT-WEIGHT: bold;
        BACKGROUND-COLOR: #204C64;
        TEXT-ALIGN: center;
}
.ressOKsave {
         FONT-SIZE: 12px; FONT-FAMILY: Arial, Helvetica, Geneva, Swiss, SunSans-Regular; font-weight: normal; COLOR: green;
}
.ressOK {
        FONT-SIZE: 12px;
        COLOR: black;
        FONT-FAMILY: Arial, Helvetica, Geneva, Swiss, SunSans-Regular;
        BACKGROUND-COLOR: #3A83D1;
}
.ressFALSE {
            FONT-SIZE: 12px; FONT-FAMILY: Arial, Helvetica, Geneva, Swiss, SunSans-Regular; font-weight: normal; COLOR: red;
}
